
.mapboxgl-canvas-container {
    width: 1920px;
    height: 50vh !important;
    border-radius: 15px;
    margin-bottom: 50%;
  }
  
  .mapboxgl-canvas {
    width: max-content !important;
  }
  

#mapadetail {
    width: 100% !important;
    height: 50vh !important;
    border-radius: 5px !important;
  }